
<html><head>
    <style>
  
        .row{
          padding-top:80px;
          min-height: 100vh;
        }
        
        h1,
        h1 a:hover{
          text-align:center;
          text-decoration:none;
        }
      
      </style>
</head>
<body>


  <div >
    <div class="row">
      
      <h1><center>Dodaj novi artikl</center></h1>
      <div style="width: 30%; margin: 20px auto">
        <form action="/" method="post">
          
          <div class="form-group">
            <input class="form-control" type="text" name="naslov" placeholder="naziv artikla">
          </div>          
          <div class="form-group">
            <input class="form-control" type="text" name="podnaslov" placeholder="cijena artikla">
          </div>
          
          <div class="form-group">
            <input class="form-control" type="text" name="slika" placeholder="url slike">
          </div>
        
          
          <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block"> Submit </button>
          </div>
          
        </form>
      </div>
          <h1 ><a href="/">Vrati se nazad</a></h1>
      
    </div>
  </div>    
</body>


</html>